body {
	user-select:none;
	background-color:#111111;
	margin:0px;
}

html {
	color:#00b6d6;
}

#webProduct1 {
	background-color:#212121;
	border:2px solid #414141;
	padding:5px;
	padding-bottom:60px;
	margin:0px;
}

#webProduct2 {
	color:#005dd6;
	font-size:40px;
}

#webProduct2:hover {
	color:#0053bf;
}

#webProduct3 {
	padding-top:10px;
	padding-left:150px;
}

#webProduct4 {
	cursor:default;
	padding-left:150px;
}

#logo {
	border:4px solid #414141;
	border-radius:15px;
	margin-left:150px;
	padding-top:3px;
	float:left;
}

.img {
	border:4px solid #212121;
	border-radius:10px;
	margin-top:25px;
	margin-left:25px;
}

.opis {
	background-color:#313131;
	border:2px solid #414141;
	border-radius:10px;
	width:344px;
	font-size:25px;
	margin-left:25px;
	padding-left:10px;
}

.img:hover {
	transition:0.1s transform;
	transform:rotate(2deg) scale(1.03);
}

#info {
	border:2px solid #414141;
	border-radius:10px;
	width:270px;
	padding-bottom:27px;
	margin-left:1050px;
	margin-top:-690px;
	text-align:center;
}

#dop {
	color:#FFFFFF;
	background-color:#1a1a1a;
	border:2px solid #414141;
	cursor:default;
	padding:5px;
	font-size:40px;
	margin-bottom:10px;
	margin-top:15px;
	text-align:center;
}

#poisk {
	background-color:#191919;
	border:4px solid #414141;
}

.poisk {
	color:#00b6d6;
	text-decoration:none;
}

button {
	outline:none;
	color:#00b6d6;
	background-color:#313131;
	border:2px solid #000000;
	border-radius:10px;
	margin-left:5px;
	font-size:20px;
	cursor:pointer;
}

button:hover {
	outline:none;
	background-color:#292929;
}

button:active {
	outline:none;
	transition:0.05s transform;
	transform:rotate(0deg) scale(0.9);
}